@keyframes slide {
  0% {
    width: 0;
    right: unset;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

.sliding {
  animation-name: slide;
  animation-timing-function: "ease-in-out";
  animation-duration: "2s";
}
