@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* COLORS */
  --clr-base: #fefdfd;
  --clr-base-text: #232323;
  --clr-base-accent:rgb(243, 243, 243);

  --clr-blue-dark: #0b2439;
  --clr-blue-base: #3981f6;
  --clr-blue-light: #f3f8fc;
  --clr-seablue: #1088c9;

  --clr-purple-base: #3f1c3d;

  --clr-pink-base: #d16ede;

  --clr-grey-dark: rgb(84, 83, 83);
  --clr-grey: rgb(173, 168, 168);
  --clr-grey-light: #e7e9ec;
  --clr-grey-extralight: #f9fafb;

  --clr-green: #84d463;

  /* FONT FAMILIES */
  --ff-base: "Inter", sans-serif;
  --ff-accent: "Young Serif", serif;

  /* FONT WEIGHTS */
  --fw-normal: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 800;

  /* FONT SIZES */
  --fs-h1: 5.25rem;
  --fs-h2: 4.75rem;
  --fs-h3: 4.25rem;
  --fs-h4: 3.75rem;
  --fs-h5: 2.25rem;
  --fs-h6: 1.75rem;

  /* PADDING */
  --pdg-base: 8vh 6vw;

  /* WIDTH */

  /* BORDER */
  --bdr-base: 2px solid rgb(247, 247, 247);

  /* SHADOWS */
  --shdw-base: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(217, 216, 216, 0.08) 0 0 0 1px;
  --shdw-light: 0px 2px 4px -2px rgba(0, 0, 0, 0.1);

  /*GRADIENT*/
 --grdt-base: radial-gradient(at 20% 80%, rgba(247, 223, 203, 0.4) 20px, rgba(252, 208, 246, 0.247) 30%, var(--clr-base) 50%), url('/bg_landing.png');

}


@media (prefers-color-scheme: dark) {
  :root {
    --clr-base: #1B1C22;
    --clr-base-text: #F9F8F8;
    --clr-base-accent: rgba(68, 65, 65, 0.945);

     /*GRADIENT*/
    --grdt-base: radial-gradient(at 20% 30%, rgb(255, 230, 230) 30px, rgb(255, 255, 219) 30%, var(--clr-base) 50%), url('/bg_landing.png');

  }
}

:root.dark {
  --clr-base: #1B1C22;
  --clr-base-text: #F9F8F8;
  --clr-base-accent: rgba(68, 65, 65, 0.945);

   /*GRADIENT*/
   --grdt-base: radial-gradient(at 20% 30%, rgba(247, 119, 119, 0.4) 10px, rgba(245, 144, 231, 0.247) 30%, var(--clr-base) 50%), url('/bg_landing.png');

}

@media screen and (max-width: 960px) {
  :root {
    /*Font Sizes */
    --fs-h1: calc(5.25rem * 0.8);
    --fs-h2: calc(4.75rem * 0.8);
    --fs-h3: calc(4.25rem * 0.8);
    --fs-h4: calc(3.75rem * 0.8);
    --fs-h5: calc(2.25rem * 0.8);
    --fs-h6: calc(1.75rem * 0.8);
  }
}

* {
  color: var(--clr-base-text);
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

svg {
  box-sizing: content-box;
  fill: var(--clr-base-text);
}

body {
  line-height: 1.5;
  background: var(--grdt-base);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}


main {
  width: min(120ch, 100% - 4rem);
  margin-inline: auto;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1;
  font-weight: var(--fw-semibold);
}

h1 {
  font-size: var(--fs--h1);
  letter-spacing: -0.04em;
}

h2 {
  font-size: var(--fs--h2);
  letter-spacing: -0.04em;
}

h3 {
  font-size: var(--fs--h3);
  letter-spacing: -0.04em;
}

h4 {
  font-size: var(--fs--h4);
  letter-spacing: -0.03em;
}

h5 {
  font-size: var(--fs--h5);
}

h6 {
  font-size: var(--fs--h6);
}

p {
  font-size: var(--fs-300);
}

a, li a {
  cursor: pointer;
}

img, svg, video {
  max-width: 100%;
  display: block;
}

/*SCROLLBAR STYLES*/
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Define the styles for the scrollbar */

::-webkit-scrollbar {
  width: 10px;
  /* width of the scrollbar */
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* color of the scrollbar handle on hover */
}

/* Define the styles for the scrollbar track */

::-webkit-scrollbar-track {
  margin-top: 10px;
  background: var(--lightgrey);
  /* color of the scrollbar track */
}

/* Define the styles for the scrollbar handle */

::-webkit-scrollbar-thumb {
  background: var(--lightblue);
  /* color of the scrollbar handle */
  border-radius: 10px;
  /* rounded corners for the scrollbar handle */
}

/* Define the styles for the scrollbar track when the handle is being dragged */

::-webkit-scrollbar-track-piece:end {
  background-color: #f1f1f1;
  /* color of the scrollbar track when dragged */
}

/* Define the styles for the scrollbar handle when the handle is being dragged */

::-webkit-scrollbar-thumb:window-inactive {
  background: #aaa;
  /* color of the scrollbar handle when inactive */
}

[data-overlay-container="true"] {
  height: 100%;
  width: 100%;
}
