.card {
    border: 2px solid var(--color-grey);
    box-shadow: var(--box-shadow-2);
    border-radius:16px;
    padding:20px;
    min-width:fit-content;
    max-width:100%;
    height:fit-content;
    display:flex;
    flex-direction:column;
    word-wrap: break-word;
    gap:.6em;
}

.sm {
    
}

.md {
    
}

.lg {
    width:100%;
}


.card h3 {
    font-size:120%;
    font-weight:600;
}

.card p {
    font-size:12px;
    word-wrap: break-word
}

