.mobile__sidebar__icon {
  display: none;
}

.sidebar--mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  .mobile__sidebar__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar--mobile {
    display: block;
    transition: left 0.3s ease;
  }

  .sidebar--mobile li a {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
}
