.nav {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:2vh 2vw;
    align-items:center;
    position:absolute;
    top:0;
    width:100%;
    z-index: 999;
    box-shadow: var(--box-shadow-1);
}


.nav ul {
    gap:20px;
}

.nav li {
    list-style:none;
}

.nav li a {
    font-size:16px;
    font-weight:600;
    color:#242424;
    text-decoration:none;
    display:flex;
    flex-direction:row;
    align-items:center;
}
