.sidebar {
    width: var(--width-sidebar);
    height: 100vh;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    border-right: 1px solid var(--color-grey);
    box-shadow: var(--box-shadow-2);
    background-color:var(--color-light-grey);
    color: var(--color-dark-grey);
    position:fixed;
    left:0;

}

.sidebar.logo {
    cursor: pointer;
}

.sidebar-link-container {
    display:flex;
    flex-direction:column;
    gap:20px;
    padding: 4vh 2vw;
}

.sidebar-link-container a {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:10px;
    color:#242424;
    font-weight:500;
    font-size:1.2rem;
}